*{
padding: 0;
margin: 0;
background: #DAE0E6;
font-family: 'Roboto', sans-serif;
font-weight: bold;      /*en 1980X1080 se ve 20/20*/
}

main{
    display:flex;
    flex-direction:column;
    align-items: center;
    padding: 48px 15%; /*necesario aprender una mejor forma de manejar resolución, responsivo? v: */
    width: 70%;    /*igual acá, en 1980x1080 según yo*/
}

a{
    background: #FFF;
    }

button{
    cursor:pointer;
}

nav div{
    background: #FFF;
}

h4{
    align-content: center;
}
    
/*primera sección*/

.topnav{
    position:fixed;
    z-index: 99;
    background-color: white;
    width: 100%;
    height: 48px;
    list-style-type: none;
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

/*div boton icono y buscador*/

.home-search{
    display: flex;
    width: 50%;
    justify-content: space-between;
    left: 10px;
}

.icon{
    display: flex;
    height: 33px;
    background-color: white;
    justify-content: space-between;
    margin-left: 20%;
    margin-top: 5px;
}

.input-container{
    margin: 2px 0px 2px 120px;
    border-radius: 2px;
    
}

#magn{
    display: flex;
    position: absolute;
}


.search{
    background-color: #f6f7f8;
    width: 550px;
    height: 30%;
    padding: 12px 50px;
    margin: 3px 0 0 90px;
    position: relative;
    border-color: rgb(240, 236, 236);
    border-radius: 4px;
    border:.5px solid rgb(241, 236, 236);            
}

.buscador:hover{
    border-color: blue;
    background-color:white;
}

/*div funciones sesión*/

.session{
    display: flex;
    align-content: space-between;
    padding:0px 35px;
}

.login{
border:1px solid #1484D7;
border-radius: 32px;
background: #FFF;
color: #1484D7;
font-weight: bold;
font-size: 14px;
margin-top: 1px;
margin-right: 18px;
width: 120px;
height: 41px;
padding: 1px 0 1px;
}

.login:hover{
    background-color: #dad9f1;
    opacity: 50%;
}

.registro{
    border:1px solid #1484D7;
    border-radius: 22px;
    background: #1484D7;
    align-content: center;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-top: 4px;
    margin-right: 24px; 
    height: 30px;
    width: 120px;
    padding: 0 0 2px 0;
}

.registro:hover{
    opacity: 70%;
}

.fa-user-o{
    margin-top:10px;
}

.fa-chevron-down{
    margin-top:10px;
    margin-left: 4px;
}

/*segunda sección*/

.language-notification{
    width:95%;
    height: 50px;
    background: white;
    text-align: center;
    justify-content: space-between;
    margin:20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 2px;
    border: 1px gray;
    }

.fa-times{
    position: absolute;
    right:20px;
    cursor:pointer;
    background: transparent;
}

.fa{
    background: transparent;
    color: gray;
    margin-right:2px;
}

.trending-today{
    width: 95%;
    height: 240px;
    background: transparent;
    padding: 0 1px 12px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.news-container{
    width: 100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:0 0 10px 0;

}

.news{
    height:180px;
    width: 240px;
    /*background-image: url("https://picsum.photos/80/100/?random=4"); */
    background-size: 100% 100%;
    border-radius: 8px;
    font-family: 'Courier New', Courier, monospace white;
    position: relative;
    top: 10px;
    
}

.news h4{
    display: flex;
    position:absolute;
    background: transparent;
    bottom:70px;
    left: 10px;
    font-size: 20px;
    font-stretch: expanded;
    color:white;
}

.news h6{
    display: flex;
    position:absolute;
    background: transparent;
    bottom:35px;
    left: 12px;
    font-size: 14px;
    color:white;
}

.news a{
    display: flex;
    position:absolute;
    background: transparent;
    bottom:15px;
    left: 12px;
    font-size: 14px;
    color:green;
}

.news a h3{
    background: transparent;
}

/*Tercera sección*/


/*izquierda*/

#popular{
    text-align:left;
    margin-right:auto;
    margin-left: 28px;

}

.trending{
    width:100%;
    height:100%;   
    display:flex;
    justify-content: wrap;
    background: black;
}

.trending-posts{
    width:66%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px 10px 10px 28px;
}

.fa-ellipsis{
    width:10%;
    height: 30px;
    border-radius: 20px;
    background: transparent;

}

.post{
    display: flex;
    flex-direction: row;
    justify-content: wrap;
    width:100%;
    height:500px;
    background: white;
    text-align: center;
    margin: 20px 0px;
    border:1px solid #CCCCCC;
    border-radius: 2px;
    
}

.post:hover{
    border-color: black;
    
}

.votes{
    display: flex;
    flex-direction: column;
    width: 6%;
    height: 100%;
    background-color: #F8F9FA;
}

.votes:hover{
    opacity: 50%;
}

.post-info-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:100%;
}

.origin{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5%;
    background-color: white;
}

.title{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5%;
    background-color: white;
}

.hyperlink{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5%;
    background-color: white;
}

.hyperlink:hover{
    opacity: 50%;
}


.thumbnail{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 85%;
    /* background-image: url("./oraq.jpg"); */
    background-size: 50% 100%;
}

.actions{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 5%;
    background-color: white;
}

.highlight-filters-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height:60px;
    width:100%;
    background: #FFF;
    border-radius: 4px;
}

.highlight-sorter{
    width:80%;
    display: flex;
    justify-content: space-between;
    background: white;
}

.highlight-sorter .highlight-filter{
    width:25%;
    height: 30px;
    border-radius: 20px;
    margin-left: 20px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    background: #F6F7F8;
    color: blue;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}


.highlight-filter{
    width: 5%;
    height: 30px;
    border-radius: 20px;
    border-color: transparent;
    align-items: center;
    justify-content: center;
    background: #E5E6E7;
    color: blue;
    font-weight: bold;
    display: flex;
    flex-direction: row;
}

#down {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    margin-left: 15px;
}

.highlight-filter:hover{
    background-color: #EDEDED;
    font-weight: bold;
    opacity: 70%;
    color: blue;
}

/*Derecha*/

.right-section{
    display: flex;
    flex-direction: column;
    width: 35%;
    padding: 0 18px 0 0;
}

.trending-communities{
    display: flex;
    flex-direction: column;
    margin:10px 10px 10px 20px;
    width: 90%;
    height: 410px;
    background:white;
    position: relative;
}

/*
     <div class="trending-communities">
                    <div class="top-community"></div>
                    <div class="top-ranked"></div>
                    <div class="view-all"></div>
                    <div class="trending-communities-filters"></div>
                </div>
*/
.top-ranked{
    display: flex;
    flex-direction: column;
    width: 100%;
    height:210px;
    background:white;
    position: relative;
}

.top-community{
    height:80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background: url("https://picsum.photos/310/80?random=2");

}

.top-communities{
    height:80px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    flex-direction: row;
    background: white;
    border-color: black;
    border-radius: 2px;
}

.top-communities button{
    height:25px;
    width: 70px;
    left: 14px;;
    display: flex;
    justify-content: space-around;
    color: white;
    font-weight: bold;
    align-items: center;
    align-content: center;
    background: #1484D7;
    border-color: transparent;
    border-radius: 40px;
}

.trending-communities.top-community.top-ranked.top-communities h6{
    left:30px;  
}

.top-community h4{
    display: flex;
    top: 35px;
    left: 15px;
    position: absolute;
    background: transparent;
    color: white;
}

.top-community h6{
    display: flex;
    top: 55px;
    left: 20px;
    font-size: 16px;
    position: absolute;
    background: transparent;
    color: white;
}

.view-all{
    width: 100%;
    height:40px;
    background: white;
    display: flex;
    justify-content: center;
}

.view-all button{
    height: 80%;
    width: 92%;
    border-radius: 40px;
    border-color: transparent;
    background: #1484D7;
    color: white;
    font-weight: bold;
}

.trending-communities-filters{
    height: 80px;
    width: 100%;
    background: white;
    display:flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.trending-communities-filters button{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 24px;
    width: 80px;
    background: #E3EDF6;
    border-radius: 20px;
    border-color: transparent;
    align-content: center;
    color: #248BD9;
    font-weight: bold;
}



.reddit-premium{
    width: 90%;
    height: 100px;
    margin:10px 10px 10px 20px;
    display: flex;
    position: relative;
    background: white;
    }

.premium-elements {
    padding: 8px;
    border-radius: 4px;
    background:white;
    }

.premium-elements div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: transparent;
}

.fa-shield{
    color: #FF4500;
}

.premium-elements div div{
    margin-left: 12px;
    flex-direction: column;
    align-items: revert;
}

.premium-elements div h4{
    margin-bottom: 4px;
}

.premium-elements h4{
    background: transparent;
}

.premium-elements h6{
    background: transparent;
}


.reddit-premium div button{
    display: flex;
    position: absolute;
    color:white;
    background: #FF4500;
    border-radius: 40px;
    border-color: transparent;
    bottom: 8px;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 95%;
    height: 35px;
}

.various-communities{
    width: 90%;
    height: 288px;
    background: white;
    margin:10px 10px 10px 20px;
    display: flex;
    flex-direction: column;
}

.various-communities button{
    width: 100%;
    height: 15%;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
        
    border-color: 1px gray;
}




#modal {
    display: none;
    position: fixed;
    justify-content: center;
    width: 850px;
    height: 650px;
    top: 180px;
    background: #fff;
    border-radius: 12px;
    align-content: center;
    right: 25%;
}
  
#close-modal{
    margin-top: 20px;
    font-size: 24px;
}
